In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,concat,lit,floor,rand
spark = SparkSession.builder.appName("ETLPractice").getOrCreate()
source_path = "orders.csv"
target_path = "order_result.csv"
load_data = spark.read.csv("orders.csv",header = True, inferSchema = True)

In [ ]:
load_data.columns
load_data.show(5)

In [ ]:
 #Transformation 1: Concatenate First and Last Names
load_data = load_data.withColumn('full_name', concat(col('cust_fname'), lit(' '), col('cust_lname')))
load_data.show(10)

In [ ]:
# Transformation 2: Calculate Net Salary (subtract 10% as taxes)
load_data = load_data.withColumn('net_salary', floor(lit(10000) + rand() * lit(50)))
load_data.show(10)

In [ ]:
# addingÂ age column
load_data = load_data.withColumn('age', floor(lit(20) + rand() * lit(31)))
load_data.show(10)

In [ ]:
# Filter by Age (age >= 30)
load_data = load_data.filter(col('age')>= 30)
load_data.show()

In [ ]:
# Group by Age and Calculate Average Salary
avg_salary_by_age = load_data.groupBy('age').agg({'net_salary' :'avg'}).withColumnRenamed('avg(salary)', 'avg_salary')
avg_salary_by_age.show()

In [ ]:
load_data = load_data.orderBy("age")
load_data.show()

In [ ]:
# Save the transformed data to an external CSV file
load_data.write.csv(target_path, mode='overwrite', header=True)

In [ ]:
# File location and type
file_location = "/content/orders.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "false"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)
df.createOrReplaceTempView("tempdata")

In [ ]:
spark.sql("select * from tempdata").show()
df.select("_c0","_c1").show(5)

In [ ]:
spark.sql("""SELECT * From tempdata WHERE _c4='inactive'""").show()

In [ ]:
# File location and type
file_location = "/content/Simple_zip.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "false"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)
df.createOrReplaceTempView("tempdata")

In [ ]:
spark.sql("select * from tempdata").show()
df.select("_c0","_c1").show(5)

In [ ]:
spark.sql("""SELECT * From tempdata WHERE _c4='AL'""").show(5)

In [ ]:
# File location and type
file_location = "/content/Simple_zip.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)
df.createOrReplaceTempView("customer")

In [ ]:
spark.sql("select * from customer").show()
df.select("RecordNumber","Country").show(5)

In [ ]:
spark.sql("""SELECT * From customer WHERE state='PR'""").show(5)

In [ ]:
spark.sql("""select * FROM customer WHERE state in ('PR','AL','FL')order by state """).show(10)

In [ ]:
spark.sql("""SELECT state,count(*) as count FROM customer GROUP BY state""").show()