In [ ]:
import pandas as pd
log_data = pd.read_csv("/content/sample_data/Marks_data.csv")
print(log_data)
type(log_data)

In [ ]:
import pyspark

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

sc = SparkContext.getOrCreate()
#create a sparksession
spark = SparkSession.builder.appName('PySpark DataFrame From RDD').getOrCreate()

In [ ]:
#create a rdd
rdd = sc.parallelize([('C',85,76,87,91), ('B',85,76,87,91), ("A", 85,78,96,92), ("A", 92,76,89,96)], 4)
print(type(rdd))

In [ ]:
#Converting the RDD into PySpark DataFrame
#schema rdd,rdd,dataframe
sub = ['Division','English','Mathematics','Physics','Chemistry']
marks_df= spark.createDataFrame(rdd, schema=sub)
print(type(marks_df))

In [ ]:
marks_df.printSchema()
marks_df.show()

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("FileRead").getOrCreate()

# Read Text File
txt_df = spark.read.text("/example.txt")
txt_df.printSchema()


# Read CSV File
csv_df = spark.read.option("header", True).csv("/sample.csv")
csv_df.printSchema()


# Read JSON File
json_df = spark.read.json("/sample.json")
json_df.printSchema()

In [ ]:
df = spark.createDataFrame(
[
("sue", 32),
("li", 3),
("bob", 75),
("heo", 13),
],
["first_name", "age"],
)

df.show()

In [ ]:
from pyspark.sql.functions import col, when
df1 = df.withColumn( "life_stage",
when(col("age") < 13, "child")
.when(col("age").between(13, 19), "teenager")
.otherwise("adult"),)
df1.show()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession \
.builder \
.appName("Python Spark create RDD example") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()
Employee = spark.createDataFrame([
("1", 'Joe', '70000' , '1'),
("2", 'Henry', '80000' , '2'),
("3", 'Sam', '60000' , '2'),
("4", 'Max', '90000', '1')],
['Id', 'Name', 'Sallary','DepartmentId']
)
Employee.show()

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice-Hexaware").getOrCreate()
df = spark.read.csv("/content/sample_data/Marks_data.csv")
df.show() #to show the entire file

In [ ]:
# importing module
import pyspark

# import lit function
from pyspark.sql.functions import concat_ws, lit

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list of employee data
data = [["1", "sravan", "company 1"],
["2", "ojaswi", "company 1"],
["3", "rohith", "company 2"],
["4", "sridevi", "company 1"],
["5", "bobby", "company 1"]]

# specify column names
columns = ['ID', 'NAME', 'Company']
# creating a dataframe from the lists of data
df = spark.createDataFrame(data, columns)

df.withColumn("salary",lit(30000)).show()

df.withColumn("Details", concat_ws("-", "NAME", 'Company')).show()

In [ ]:
df.withColumn("salary", df.ID*2300).show()

In [ ]:
if 'salary' not in df.columns:
  df.withColumn("salary", lit(34000)).show()