In [ ]:
import pyspark

from pyspark import SparkContext
from pyspark.sql import SparkSession

sc = SparkContext.getOrCreate()
#create a sparksession
spark = SparkSession.builder.appName('PySpark DataFrame From RDD').getOrCreate()

In [ ]:
# collect() action
collect_rdd = sc.parallelize([1,2,3,4,5])
print(collect_rdd.collect())

In [ ]:
# count() action
count_rdd = sc.parallelize([1,2,3,4,5,5,6,7,8,9])
print(count_rdd.count()) #count the list

In [ ]:
# first() action
first_rdd = sc.parallelize([1,2,3,4,5,6,7,8,9,10])
print(first_rdd.first()) #returns the first element

In [ ]:
# take() action
take_rdd = sc.parallelize([1,2,3,4,5])
print(take_rdd.take(3)) #extract the elements

In [ ]:
# reduce() action
reduce_rdd = sc.parallelize([1,3,4,6])
print(reduce_rdd.reduce(lambda x, y : x + y)) #returns the sum of all elements

In [ ]:
#saveAsTextFile() action
save_rdd = sc.parallelize([1,2,3,4,5,6])
save_rdd.saveAsTextFile('file.txt')

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
from pyspark.sql.types import StructType, StructField, StringType,IntegerType

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]
columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.printSchema()
df.show(truncate=False)

In [ ]:
df2 = df.withColumn("salary",col("salary").cast("Integer"))
df2.printSchema()
df2.show(truncate=False)

In [ ]:
df3 = df.withColumn("salary",col("salary")*100)
df3.printSchema()
df3.show(truncate=False)

In [ ]:
df4 = df.withColumn("CopiedColumn",col("salary")* -1)
df4.printSchema()

In [ ]:
df5 = df.withColumn("Country", lit("USA"))
df5.printSchema()
df5.show(truncate=False)